* {
    box-sizing: border-box;
}

body, p {
    overflow: hidden;
    margin: 0;
    font-family: monospace;
    font-size: 12px;
    line-height: 8px;
}

canvas {
    background: #222;
    image-rendering: pixelated;
}

#hud {
    position: fixed;
    margin: 4px;
    top: 0;
    color: #eee;
}